.page {
  position: relative;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 3px;
  background: var(--gold);
  transition: width 0.1s linear;
}

@media(max-width: 767px) {
  .page {
    padding-bottom: 70px; /* Space for StickyBar */
  }
}
